@model UniversidadeXYZ.Web.Models.DisciplinaModel
@{
    ViewData["Title"] = "AdicionarAluno";

}


@if (!string.IsNullOrEmpty(ViewBag.Erro))
{
    <script type="text/javascript">
        alert("@ViewBag.Erro");
    </script>
}

<h2>Adicionar Disciplina</h2>
<div class="row">
    <div class="col-md-12">
        <ul class="nav navbar-nav">
            <li><a class="btn-menu glyphicon glyphicon-list btn" asp-area="" asp-controller="Disciplina" asp-action="Index"></a></li>
            <li><a class="btn-menu glyphicon glyphicon-plus btn" asp-area="" asp-controller="Disciplina" asp-action="AdicionarDisciplina"></a></li>
            <li><a class="btn-menu glyphicon glyphicon-pencil btn" asp-area="" asp-controller="" asp-action=""></a></li>
            <li><a class="btn-menu glyphicon glyphicon-remove btn" asp-area="" asp-controller="" asp-action=""></a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <form id="frmDisciplina" asp-controller="Disciplina" asp-action="SalvarDisciplina" method="post">
        <!-- Input and Submit elements -->

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { @id = "lblNome" })
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @id = "txtNome" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.CargaHoraria, new { @id = "lblCargaHoraria" })
                @Html.TextBoxFor(m => m.CargaHoraria, new { @class = "form-control", @id = "txtCargaHoraria" })
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn-primary btn btn-success" id="btnSalvar" value="Salvar" />
            <input type="button" class="btn-primary btn btn-danger" id="btnLimpar" value="Limpar" onclick="Limpar();" />
        </div>
    </form>
</div>
<script type="text/javascript">
    function Limpar() {
        $("#frmDisciplina input:not(.btn)").each(function (i, e) { $(e).val("") });
    }
</script>
