@model List<UniversidadeXYZ.Web.Models.MatriculaModel>
@{
    ViewData["Title"] = "Index";
}



<h2>Disciplina</h2>


<div class="row">
    <div class="col-md-12">
        <ul class="nav navbar-nav">
            <li><a class="btn-menu glyphicon glyphicon-list btn" asp-area="" asp-controller="Matricula" asp-action="Index"></a></li>
            <li><a class="btn-menu glyphicon glyphicon-plus btn" asp-area="" asp-controller="Matricula" asp-action="AdicionarMatricula"></a></li>

        </ul>
    </div>
</div>
<hr />
<div class="row">
        <div class="col-md-12">
            @*@Html.DropDownList("TESTE", Model.ListaDisciplinaTurma, "optionFirst", new { @class ="form-control" })*@
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CodigoAluno</th>
                        <th>CodigoDaTurma</th>
                        <th>CodigoDisciplina</th>
                        <th>CodigoMatricula</th>
                        <th>DataMatricula</th>
                        <th>DisciplinaTurma.Disciplina.Nome</th>
                        <th>DisciplinaTurma.Disciplina.CargaHoraria</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td><label>@Model[i].CodigoAluno                            </label></td>
                            <td><label>@Model[i].CodigoDaTurma                          </label></td>
                            <td><label>@Model[i].CodigoDisciplina                       </label></td>
                            <td><label>@Model[i].CodigoMatricula                        </label></td>
                            <td><label>@Model[i].DataMatricula                          </label></td>
                            <td><label>@Model[i].DisciplinaTurma.Disciplina.Nome        </label></td>
                            <td><label>@Model[i].DisciplinaTurma.Disciplina.CargaHoraria</label></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
</div>

<br />

